@include reset_css();

html,
body {
  height: 100%;
  font-family: $font_family;
  font-size: $font_size;
  color: $text_color;
}

a {
  color: $text_color;
  text-decoration: none;
}

.app-container {
  max-width: 1170px;
  margin: 0px auto;
}

.loading-text {
  @include app_flex();
}
